<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-default">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand brand-logo" href="index.html">
                <h3 class="text-primary">QuickPay</h3>
            </a>         
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span><i class="fas fa-bars"></i></span>
            </button>
        </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown mr-4">
                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
                    id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="fas fa-bell mx-0"></i>
                    <span class="count"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                    aria-labelledby="notificationDropdown">
                    <p class="mb-0 font-weight-normal float-left dropdown-header">Lembretes</p>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="fas fa-calendar mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-normal">Titulo</h6>
                            <p class="font-weight-light small-text mb-0 text-muted">
                                Mensagem
                            </p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-warning">
                                <i class="fas fa-power-off mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-normal">Titulo</h6>
                            <p class="font-weight-light small-text mb-0 text-muted">
                                Mensagem
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img [src]="user?.photoUrl" alt="profile" />
                    <span class="nav-profile-name text-dark">
                        {{user?.email}}
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                        <i class="fas fa-user text-primary"></i>
                        Perfil
                    </a>
                    <button (click)="onLogOut()" class="dropdown-item">
                        <i  class="fas fa-power-off text-primary"></i> Sair
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>

   