<div class="container-scroller bg-white">
  <app-header *ngIf="isVisible"></app-header>
  <div class="container-fluid page-body-wrapper">
      <app-menu *ngIf="isVisible"></app-menu>
      <div class="main-panel">
          <router-outlet></router-outlet>
          <app-footer *ngIf="isVisible"></app-footer>
      </div>
  </div>
</div>