<div class="content-wrapper"> 

    <div class="card">
        <div class="card-body" style="padding-bottom: 0px; padding-top: 10px">
            <form [formGroup]="frmFilter" (ngSubmit)="onGetAllAccount()">
                <div class="form-row" style="padding-bottom: 0px;">
                    <div class="form-group col-md-4">
                        <select formControlName="CountryID" class="form-control form-control-sm">
                            <option value="0" selected>
                                Todos
                            </option>
                            <option *ngFor="let bank of banks" [value]="bank.bankID">
                                {{bank.name}}
                            </option>
                        </select>
                    </div>
                
                    <div class="form-group col-md-2">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card" [@iniFadeAnimation]="'in2'">
        <div class="card-body">
            <p class="card-title">
                Contas Cadastrados
                <span class="badge badge-primary badge-pill">
                    {{accounts.length}}
                </span>
            </p>
            <div class="table-responsive">
                <div *ngIf="accounts.length == 0 && !loading" class="card-body">
                    <div class="text-center">
                        <h1>Não há nenhum Conta</h1>
                    </div>
                </div>
                <table class="table table-hover table-bordered " *ngIf="accounts.length != 0 && !loading">
                    <thead >
                        <tr class="f-12">
                            <th>Id</th>
                            <th>Descrição</th>
                            <th>Sigla</th>
                            <th>Pais</th>
                            <th>Ativo</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody >
                        <!-- <tr *ngFor="let state of accounts">
                            <td class="f-12">{{state.stateID}}</td>
                            <td class="f-12">{{state.description}}</td>
                            <td class="f-12">{{state.initial}}</td>
                            <td class="f-12">{{state.countryDescription}}</td>
                            <td class="f-12">{{state.isActive === 1? 'ATIVO': 'DESATIVADO'}}</td>
                            <td class="f-12">
                                <a [routerLink]="['/estado/alterar/',state.stateID]"
                                    class="btn btn-primary btn-sm mr-3 ">
                                    <i style="font-size: 12px" class=" fas fa-pen "></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm " (click)="stateID = state.stateID"
                                    data-toggle="modal" data-target="#ModalDelete">
                                    <i style="font-size: 12px" class=" fas fa-trash-alt "></i>
                                </button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="loading">
            <div class="card-body">
                <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h1><i class="text-danger fas fa-exclamation-triangle"></i> </h1>
                    <h1>Você tem certeza? </h1>
                    <h4 class="modal-title" id="ModalDelete">O Estado com o Id: {{acocountID}}, Será desativado!</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button type="button" (click)="onDeleteById()" data-dismiss="modal" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>