<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
                <i class="far fa-chart-bar menu-icon"></i>
                <span class="menu-title">Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#register" aria-expanded="false" aria-controls="register">
                <i class="fas fa-plus menu-icon"></i>
                <span class="menu-title">Cadastros</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="register">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/account']"
                            routerLinkActive="router-link-active">Conta</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/moeda']"
                            routerLinkActive="router-link-active">Categoria</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#transaction" aria-expanded="false" aria-controls="transaction">
                <i class="fas fa-exchange-alt menu-icon"></i>
                <span class="menu-title">Movimentações</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="transaction">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/']"
                            routerLinkActive="router-link-active">Tranferencias</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="user">
                <i class="fas fa-user menu-icon"></i>
                <span class="menu-title">Usuario</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/usuario']"
                            routerLinkActive="router-link-active">Usuario</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#config" aria-expanded="false" aria-controls="config">
                <i class="fas fa-cog menu-icon"></i>
                <span class="menu-title">Configurações</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="config">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">
                            Usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/bank']" routerLinkActive="router-link-active">
                            Bancos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']"
                            routerLinkActive="router-link-active">
                            Configurações
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>