<div class="content-wrapper"> 

    <div class="card">
        <div class="card-body" style="padding-bottom: 0px; padding-top: 10px">
            <form [formGroup]="frmFilter" (ngSubmit)="getAllBanks()">
                <div class="form-row" style="padding-bottom: 0px;">
                    <div class="form-group col-md-4">
                        <input type="text" formControlName="name" class="form-control form-control-sm"> 
                    </div>
                
                    <div class="form-group col-md-2">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card" >
        <div class="card-body">           
            <div class="table-responsive">
                <div *ngIf="banks.length == 0 && !loading" class="card-body">
                    <div class="text-center">
                        <h1>Não há nenhum Conta</h1>
                    </div>
                </div>
                <table class="table table-hover table-bordered " *ngIf="banks.length != 0 && !loading">
                    <thead >
                        <tr class="f-12">
                            <th>Nome</th>
                            <th>Apelido</th>
                            <th>Icone</th>
                            <th>Ativo</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody >
                         <tr *ngFor="let bank of banks">
                            <td class="f-12">{{bank.name}}</td>
                            <td class="f-12">{{bank.nickName}}</td>
                            <td class="f-12">
                                <img [src]="bank?.iconUrl" width="50">
                            </td>
                            <td class="f-12">{{bank.isActive == true? 'ATIVO': 'DESATIVADO'}}</td>
                            <td class="f-12">
                                <a [routerLink]="['/estado/alterar/',bank.bankID]"
                                    class="btn btn-primary btn-sm mr-3 ">
                                    <i style="font-size: 12px" class=" fas fa-pen "></i>
                                </a>
                                <button type="button" class="btn btn-danger btn-sm " (click)="bankID = bank.bankID"
                                    data-toggle="modal" data-target="#ModalDelete">
                                    <i style="font-size: 12px" class=" fas fa-trash-alt "></i>
                                </button>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="loading">
            <div class="card-body">
                <div class="dot-opacity-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h1><i class="text-danger fas fa-exclamation-triangle"></i> </h1>
                    <h1>Você tem certeza? </h1>
                    <h4 class="modal-title" id="ModalDelete">O Bank Será desativado!</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button type="button" (click)="onDeleteById()" data-dismiss="modal" class="btn btn-primary">Sim</button>
            </div>
        </div>
    </div>
</div>